Port 22
AddressFamily any
ListenAddress 0.0.0.0

HostKey /etc/ssh-host-keys/ssh_host_ed25519_key
HostKey /etc/ssh-host-keys/ssh_host_rsa_key
HostKey /etc/ssh-host-keys/ssh_host_ecdsa_key

PermitRootLogin no
AllowUsers dev

PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes

X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*

ClientAliveInterval 60
ClientAliveCountMax 5

Subsystem sftp /usr/lib/openssh/sftp-server
